// COLORS
$primary-color: #e6e8e3;
$secondary-color: #d7dacf;
$third-color: #bec3bc;
$fourth-color: #8f9a9c;
$fifth-color: #0000001a;
$sixty-color: #266398;
$whats-color: #25d366;
$box-shadow-1: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
$text-shadow-1: 1px 1px #0000001a;
// FONTS
$primary-font: "Anek Malayalam", sans-serif;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: $primary-color;
  width: 100%;
  padding: 18px;

  @media (min-width: 620px) {
    flex-direction: row;
  }
}

.logoMenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 620px) {
    width: unset;
  }

  @media (min-width: 2560px) {
    width: 256px;
  }
}

.button {
  border: 0;
  background-color: none;
}

.biList {
  width: 42px;
  height: 42px;
  background-color: $fifth-color;
  border-radius: 10px;
  box-shadow: $box-shadow-1;
  display: block;

  @media (min-width: 620px) {
    display: none;
  }
}

.unactive {
  transition: height 0.3s;
  height: 0;
  overflow: hidden;

  @media (min-width: 620px) {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.active {
  transition: height 0.3s;
  height: 180px; //Altura max do elemento a ser exibido
  overflow: hidden;

  @media (min-width: 620px) {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.navMenu {
  margin-top: 18px;

  @media (min-width: 620px) {
    margin-top: 0;
  }
}

.navList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 18px;

  @media (min-width: 620px) {
    flex-direction: row;
    gap: clamp(24px, 25vw, 72px);
  }
}

.liList > a {
  @media (min-width: 2560px) {
    font-size: 48px;
  }
}

.navMenu > ul > a {
  font-family: $primary-font;
}

.liList {
  border-bottom: 1px #0000001a solid;
  font-size: clamp(16px, 2vw, 18px);
  text-align: center;
  margin-top: 18px;
  font-weight: 600;
  color: $sixty-color;
  text-shadow: $text-shadow-1;
  cursor: pointer;
}

.socialContacts {
  display: flex;
  justify-content: space-evenly;
  margin-top: 18px;
  gap: 18px;
}

.biLinkedin,
.biGithub,
.biWhatsapp {
  width: 32px;
  height: 32px;

  @media (min-width: 620px) {
    width: clamp(24px, 15vw, 28px);
  }

  @media (min-width: 2560px) {
    width: 64px;
    height: 64px;
  }
}

.flagButton {
  border: none;
  background: none;
  object-fit: cover;
}

.biLinkedin {
  color: $sixty-color;
}

.biWhatsapp {
  color: $whats-color;
}

@media (min-width: 620px) {
  .liList {
    margin-top: 0;
  }

  .liList:hover {
    padding: 2px;
    background-color: $sixty-color;
    color: $primary-color;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
  }

  .socialContacts {
    gap: 18px;
    justify-content: unset;
    margin-top: 0;
  }

  .biLinkedin:hover,
  .biGithub:hover,
  .biWhatsapp:hover {
    padding: 1px;
    border-bottom: 1px solid $fourth-color;
  }

  .bixlg {
    display: none;
  }

  .flagButton {
    border: none;
    background: none;
    object-fit: cover;
    cursor: pointer;
  }

  .flag {
    object-fit: contain;
  }
}
