@import "../../../styles/colors";
@import "../../../styles/fonts";

.dropdownContainer {
  width: 100%;
  padding: 1rem;
  background-color: #2663985b;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-shadow: $box-shadow;
}

.dropdownLabelWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdownLabel {
  color: $third-color;
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
  font-weight: 500;
}

.dropdownButton {
  background-color: transparent;
  border: none;
  color: $third-color;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}

.childrenContainer {
  width: 100%;
}

.dropdownItemContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 1rem 0;
  border-bottom: 0.1px solid #ffffff28;
}

.dropdownItemContainer > h3 {
  color: $third-color;
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
  font-weight: 200;
}
