$primary-color: #266398;
$secondary-color: #e6e8e3;
$thirdy-color: #343838;
$txt-shadow-color: 2px 2px #0000001a;
$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


.thirdSect {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(../../public/wave-haikei.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.thirdSect>p {
    margin-top: 18px;
    font-size: 2rem;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    color: $primary-color;
    font-weight: 800;
    text-shadow: $txt-shadow-color;
    padding: 8px;
}

.thirdSectInfo {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.myPhoto0 {
    display: none;
    width: 45%;
    height: auto;
}

.myInfo {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.myInfo>p {
    padding: 8px;
    text-align: start;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: $txt-shadow-color;
    color: #000000;
}

.myInfo>.iconList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 8px 0 8px 0;
}


.listIcon {
    background-color: $secondary-color;
    border-radius: 100%;
    box-shadow: $box-shadow;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySkills>p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: $txt-shadow-color;
    font-weight: 800;
    font-size: 1rem;
    color: $thirdy-color;
}

.test {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-around;
}

.test>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    text-shadow: $txt-shadow-color;
    color: #000;
}

.biLightbulb {
    color: #e0af0d;
}

.biBug {
    color: #008000;
}

.biFlower3 {
    color: #ff506dbf;
}

.biPeople {
    color: rgb(0, 166, 255);
}

.svgOnd {
    position: relative;
    width: 100%;
}

@media (min-width: 768px) {

    .thirdSect {
        background-image: url(../../public/wave-haikei169.png);
    }

    .thirdSectInfo {
        flex-direction: row;
        justify-content: space-between;
    }

    .listIcon {
        width: clamp(16px, 25vw, 72px);
        height: clamp(16px, 25vh, 72px);
        padding: 8px;
    }

    .myInfo>p {
        font-size: clamp(10px, 2.6vw, 18px);
        padding: 16px;
        text-align: center;
    }

    .mySkills>p {
        font-size: clamp(22px, 2.4vw, 38px);
    }

    .myPhoto0 {
        display: block;
        padding-left: 8px;
    }

    .skillList {
        font-size: clamp(8px, 1.8vw, 42px);
    }
}