@import "../../../styles/colors";
@import "../../../styles/fonts";

.thirdSect {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 12rem;
}

.sectThreeTitle {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 12px;
}

.reactLogo {
  width: 16px;
  height: 16px;
  color: $third-color;
}

.aboutMe {
  font-size: 1.5rem;
  font-weight: 300;
  color: $secondary-color;
  text-align: start;
  @media (min-width: 2560px) {
    font-size: 2.5rem;
  }
}

.thirdSectInfo {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  @media (min-width: 620px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.myPhotoWrapper {
  display: none;
  width: 25%;
  height: auto;

  @media (min-width: 620px) {
    display: block;
    padding-left: 8px;
  }
}

.myPhoto {
  border-radius: 50% !important;
}

.myInfo {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.aboutMeP {
  padding: 8px;
  text-align: center;
  font-size: 1rem;
  font-family: $primary-font;
  color: $third-color;
  font-weight: 400;

  @media (min-width: 620px) {
    font-size: clamp(17px, 1.2vw, 19px);
    padding: 16px;
    text-align: start;
    width: 95%;
  }

  @media (min-width: 2560px) {
    font-size: 3rem;
  }
}
