$primary-color: #e6e8e3;
$secondary-color: #266398;
$thirdy-color: #fff;
$txt-shadow-color: 2px 2px #0000001a;
$primary-font: "Noto Sans Display", sans-serif;
$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

.sectTwo {
  width: 100%;
  height: auto;
  background-color: $primary-color;
  text-align: center;
  @media (min-width: 620px) {
    text-align: start;
  }
}

.sectTwo > p {
  font-family: $primary-font;
  text-shadow: $txt-shadow-color;
  font-size: clamp(32px, 2.5vw, 38px);
  font-weight: 800;
  color: $secondary-color;
  text-align: center;
  padding: 8px;

  @media (min-width: 2560px) {
    font-size: 5rem;
  }
}

.myProjects {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (min-width: 620px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 36px;
  }
}

.project1 {
  width: 70%;
  height: auto;
  display: block;
  background-color: $thirdy-color;
  border-radius: 10px;
  margin-top: 18px;
  box-shadow: $box-shadow;

  @media (min-width: 620px) {
    width: 40%;
  }

  @media (min-width: 1024px) {
    width: 30%;
  }
}

.petLover,
.ygoApi,
.goldenDuelist {
  -moz-border-radius: 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}

.figCont {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  margin-bottom: 18px;

  @media (min-width: 620px) {
    height: clamp(25vh, 30vh, 30vh);
    margin-bottom: 0;
  }
}

.projectName,
.figCont > h3 {
  font-family: $primary-font;
  padding: 9px;
  text-align: center;
  text-shadow: $txt-shadow-color;
}

.projectName {
  font-size: clamp(12px, 8vw, 18px);
  font-weight: 800;

  @media (min-width: 2560px) {
    font-size: 3rem;
  }
}

.figCont > h3 {
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 600;
  opacity: 0.6;

  @media (min-width: 2560px) {
    font-size: 2.5rem;
  }
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 18px;
}

.sButton {
  border: none;
  background-color: $secondary-color;
  color: $thirdy-color;
  padding: 12px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: $box-shadow;

  @media (min-width: 620px) {
    padding: clamp(8px, 1.5vw, 18px);
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 0;
  }

  @media (min-width: 2560px) {
    padding: 36px;
    font-size: 32px;
  }
}
