@import "../../../styles/colors";
@import "../../../styles/fonts";

.sectTwo {
  width: 100%;
  height: auto;
  text-align: start;
  padding-left: 1rem;
  margin-top: 10rem;

  @media (min-width: 768px) {
    text-align: start;
    padding-left: 4rem;
  }
}

.sectTwoTitle {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 12px;
}

.reactLogo {
  width: 16px;
  height: 16px;
  color: $third-color;
}

.sectTwoTitle > p {
  font-size: 1.5rem;
  font-weight: 300;
  color: $secondary-color;
  text-align: start;
  @media (min-width: 2560px) {
    font-size: 2.5rem;
  }
}

.sectTwo > h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: $secondary-color;
  text-align: start;
  padding: 0 12px;
  margin-left: 4px;

  @media (min-width: 768px) {
    font-size: 2rem;
  }

  @media (min-width: 2560px) {
    font-size: 2.5rem;
  }
}

.myProjects {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  gap: 12px;
  margin-top: 12px;
}
