@import "../../../styles/colors";
@import "../../../styles/fonts";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  width: 100%;
  padding: 16px;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.logoMenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $sixty-color;

  @media (min-width: 768px) {
    width: unset;
  }

  @media (min-width: 2560px) {
    width: 256px;
  }
}

.button {
  border: 0;
  background-color: none;
}

.headerIconBiMenu {
  width: 42px;
  height: 42px;
  display: block;
  color: $sixty-color;

  @media (min-width: 768px) {
    display: none;
  }
}

.unactive {
  transition: height 0.3s;
  height: 0;
  overflow: hidden;

  @media (min-width: 768px) {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.active {
  transition: height 0.3s;
  height: 180px;
  overflow: hidden;

  @media (min-width: 768px) {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.navMenu {
  margin-top: 18px;

  @media (min-width: 768px) {
    margin-top: 0;
  }
}

.navList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 18px;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 4rem;
  }
}

.liList {
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  color: $sixty-color;
  cursor: pointer;

  a {
    @media (min-width: 2560px) {
      font-size: 2rem;
    }
  }
}

.socialContacts {
  display: flex;
  justify-content: space-evenly;
  margin-top: 18px;
  gap: 18px;
  color: $sixty-color;

  @media (min-width: 768px) {
    margin-top: 0;
  }
}

.headerIcon {
  width: 24px;
  height: 24px;

  @media (min-width: 768px) {
    width: clamp(24px, 15vw, 28px);
  }

  @media (min-width: 2560px) {
    width: 48px;
    height: 48px;
  }
}

.flagButton {
  border: none;
  background: none;
  object-fit: cover;
}

.biLinkedin {
  color: $sixty-color;
}

.biWhatsapp {
  color: $whats-color;
}

.flagBrazil {
  object-fit: contain;
  width: 32px;
  height: 32px;
  background-color: $whats-color;
  border-radius: 50%;
  color: #fff;
}

.flagUsa {
  object-fit: contain;
  width: 32px;
  height: 32px;
  background-color: $sixty-color;
  border-radius: 50%;
  color: #fff;
}

@media (min-width: 768px) {
  .socialContacts {
    gap: 12px;
    justify-content: unset;
  }

  .changeLanguange {
    margin-left: 16px;
  }

  .flagButton {
    border: none;
    background: none;
    object-fit: cover;
    cursor: pointer;
  }

  .flag {
    object-fit: contain;
  }
}
