$primary-color: #a6e1fa;
$secondary-color: #d7dacf;
$third-color: #fff;
$fourth-color: #00072d;
$fifth-color: #266398;
$sixty-color: #d9d9d9;
$whats-color: #25d366;
$box-shadow-1: 0 5px 10px rgba(154, 160, 185, 0.05),
  0 15px 40px rgba(166, 173, 201, 0.2);
$text-shadow-1: 1px 1px #0000001a;
$txt-shadow-color: 2px 2px #0000001a;
$box-shadow-color: 4px 4px #0000001a;
$button-color: #266398;
$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
